## Task 1 - SQL

### Build SparkSession:

In [4]:
import pyspark
from pyspark.sql import SparkSession 
spark = (SparkSession.builder.appName('SparkSQL')
         .enableHiveSupport() # Hive support is required to CREATE Hive TABLE (AS SELECT)
         .config("spark.jars.packages", "org.apache.spark:spark-avro_2.12:3.0.1") # To read Avro format
         .getOrCreate())
spark = SparkSession.builder.appName('SparkSQL').enableHiveSupport().getOrCreate()

### Read the json file:

In [5]:
path = '/content/DataFrames_sample.json'
df=(spark.read.format('json')
    .option('header','true')
    .load(path)
)

### Display the schema:

In [6]:
df.printSchema
df.show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
| 8.0|20.3|  1TB SSD|  4|       iMac|64GB|       27"| 25.6|  20.8|2017|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Create TempView:

In [7]:
df.createOrReplaceTempView("specs")

### Get all the data when "Model" equal "MacBook Pro":

In [8]:
spark.sql("""SELECT * 
          FROM specs 
          WHERE Model = 'MacBook Pro' 
          """)

DataFrame[D: double, H: double, HDD: string, Id: bigint, Model: string, RAM: string, ScreenSize: string, W: double, Weight: double, Year: bigint]

### Display "RAM"column and count "RAM" column:

In [9]:
spark.sql("""SELECT COUNT(RAM) 
             FROM specs 
          """).show()

+----------+
|count(RAM)|
+----------+
|         4|
+----------+

### Get all columns when "Year" column equal "2015"

In [10]:
spark.sql("""SELECT * 
          FROM specs 
          WHERE Year = 2015
          """).show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all when "Model" start with "M":

In [11]:
spark.sql("""SELECT * 
          FROM specs 
          WHERE Model LIKE "M%"
          """).show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data when "Model" column equal "MacBook Pro"

In [12]:
spark.sql("""SELECT * 
          FROM specs 
          WHERE Model = "MacBook Pro"
          """).show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data with Multiple Conditions when "RAM" column equal "8GB" and "Model" column is "Macbook".

In [13]:
spark.sql("""SELECT * 
          FROM specs 
          WHERE Model ="MacBook" AND RAM="8GB"
          """).show()

+----+----+---------+---+-------+---+----------+-----+------+----+
|   D|   H|      HDD| Id|  Model|RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-------+---+----------+-----+------+----+
|7.74|0.52|256GB SSD|  2|MacBook|8GB|       12"|11.04|  2.03|2016|
+----+----+---------+---+-------+---+----------+-----+------+----+

### Get all data with Multiple Conditions when "D" greater than or equal "8" and "Model" column is "iMac".

In [14]:
spark.sql("""SELECT * 
          FROM specs 
          WHERE D >= 8 AND Model ="iMac"
          """).show()

+---+----+-------+---+-----+----+----------+----+------+----+
|  D|   H|    HDD| Id|Model| RAM|ScreenSize|   W|Weight|Year|
+---+----+-------+---+-----+----+----------+----+------+----+
|8.0|20.3|1TB SSD|  4| iMac|64GB|       27"|25.6|  20.8|2017|
+---+----+-------+---+-----+----+----------+----+------+----+

## Task 2

### Read "test1" dataset:

In [15]:
path='/content/test1.csv'
df=(spark.read.format('csv')
    .option('header','true')
    .load(path)
)
df.show()
df.createOrReplaceTempView("emp")

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

### Display Salary of the people less than or equal to 20000

In [16]:
spark.sql("""SELECT *  
          FROM emp
          WHERE Salary <= 20000 
          """).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

### Display Salary of the people less than or equal to 20000 and greater than or equal 15000

In [17]:
spark.sql("""SELECT *  
          FROM emp
          WHERE Salary <= 20000 AND Salary>=15000
          """).show()

+-------+---+----------+------+
|   Name|age|Experience|Salary|
+-------+---+----------+------+
|  Sunny| 29|         4| 20000|
|   Paul| 24|         3| 20000|
| Harsha| 21|         1| 15000|
|Shubham| 23|         2| 18000|
+-------+---+----------+------+

## Task 3

### Read "test3" dataset:

In [18]:
path="/content/test3.csv"
df=(spark.read.format('csv')
    .option('header','true')
    .load(path)
)
df.createOrReplaceTempView("jobs")

### Display dataset

In [19]:
df.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

### Display schema

In [20]:
df.printSchema

### Group by "Name" column and using sum function on "salary" column

In [21]:
spark.sql("""SELECT sum(salary),Name  
             FROM jobs
             GROUP BY Name
          """).show()

+-----------+---------+
|sum(salary)|     Name|
+-----------+---------+
|    35000.0|Sudhanshu|
|    12000.0|    Sunny|
|    19000.0|    Krish|
|     7000.0|   Mahesh|
+-----------+---------+

### Group by "Name" column and using avg function on "salary" column

In [22]:
spark.sql("""SELECT avg(salary),Name  
             FROM jobs
             GROUP BY Name
          """).show()

+------------------+---------+
|       avg(salary)|     Name|
+------------------+---------+
|11666.666666666666|Sudhanshu|
|            6000.0|    Sunny|
| 6333.333333333333|    Krish|
|            3500.0|   Mahesh|
+------------------+---------+

### Group by "Departments" column and using sum function on "salary" column

In [23]:
spark.sql("""SELECT sum(salary), Departments  
             FROM jobs
             GROUP BY Departments
          """).show()

+-----------+------------+
|sum(salary)| Departments|
+-----------+------------+
|    15000.0|         IOT|
|    15000.0|    Big Data|
|    43000.0|Data Science|
+-----------+------------+

### Group by "Departments" column and using mean function on "salary" column:

In [24]:
spark.sql("""SELECT avg(salary) ,Departments 
             FROM jobs
             GROUP BY Departments
          """).show()

+-----------+------------+
|avg(salary)| Departments|
+-----------+------------+
|     7500.0|         IOT|
|     3750.0|    Big Data|
|    10750.0|Data Science|
+-----------+------------+

Group by "Departments" column and using count function on "Departments" column:

In [25]:
spark.sql("""SELECT count(Departments ) ,Departments 
             FROM jobs
             GROUP BY Departments
          """).show()

+------------------+------------+
|count(Departments)| Departments|
+------------------+------------+
|                 2|         IOT|
|                 4|    Big Data|
|                 4|Data Science|
+------------------+------------+

### Apply agg to using sum function get the total of salaries

In [26]:
df=spark.sql("""SELECT sum(salary) as salary_
             FROM jobs
             GROUP BY Name
          """)
df.groupBy().sum().show()

+------------+
|sum(salary_)|
+------------+
|     73000.0|
+------------+

## Task 4

You've been flown to their headquarters in Ulsan, South Korea, to assist them in accurately estimating the number of crew members a ship will need.

They're currently building new ships for certain customers, and they'd like you to create a model and utilize it to estimate how many crew members the ships will require.

Metadata:
1. Measurements of ship size 
2. capacity 
3. crew 
4. age for 158 cruise ships.

It is saved in a csv file for you called "ITI_data.csv". our task is to develop a regression model that will assist in predicting the number of crew members required for future ships. The client also indicated that they have found that particular cruise lines will differ in acceptable crew counts, thus this is most likely an important factor to consider when conducting your investigation.

In [81]:
path="/content/ITI_data.csv"
df=(spark.read.format('csv')
    .option('header','true')
    .load(path)
)
df.createOrReplaceTempView("ships")
df.show()
df.printSchema()

+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line|Age|           Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|            38.36|10.0|
|    Ecstasy|   Carnival| 22|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Elation|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Fantasy|   Carnival| 23|            70.367|     20.56|  8.55| 10.22|            34.23| 9.2|
|Fascination|   Carnival| 19|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|    Freedom|   Carnival|  6|110.23899999999999|      37.0|  9.51| 14.87|            29.79|11.5|
|      Glory|   Carnival| 10|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Holiday|   Carnival| 28|            46.052|     14.52|  7.27|  7.26|            31.72| 6.6|
|Imagination|   Carnival| 18|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|Inspiration|   Carnival| 17|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|     Legend|   Carnival| 11|              86.0|     21.24|  9.63| 10.62|            40.49| 9.3|
|   Liberty*|   Carnival|  8|             110.0|     29.74|  9.51| 14.87|            36.99|11.6|
|    Miracle|   Carnival|  9|              88.5|     21.24|  9.63| 10.62|            41.67|10.3|
|   Paradise|   Carnival| 15|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
|      Pride|   Carnival| 12|              88.5|     21.24|  9.63| 11.62|            41.67| 9.3|
|  Sensation|   Carnival| 20|            70.367|     20.52|  8.55|  10.2|            34.29| 9.2|
+-----------+-----------+---+------------------+----------+------+------+-----------------+----+
only showing top 20 rows

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Tonnage: string (nullable = true)
 |-- passengers: string (nullable = true)
 |-- length: string (nullable = true)
 |-- cabins: string (nullable = true)
 |-- passenger_density: string (nullable = true)
 |-- crew: string (nullable = true)

In [82]:
df =df.selectExpr("cast(Ship_name as string) Ship_name",
                  "cast(Cruise_line as string)  Cruise_line",
                  "cast(age as int) age",
                  "cast(Tonnage as double)  Tonnage",
                  "cast(passengers as double) passengers",
                  "cast(length as double)  length",
                  "cast(cabins as double) cabins",
                  "cast(crew as double)  crew",
                  )
df.printSchema()
df.show()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Tonnage: double (nullable = true)
 |-- passengers: double (nullable = true)
 |-- length: double (nullable = true)
 |-- cabins: double (nullable = true)
 |-- crew: double (nullable = true)

+-----------+-----------+---+------------------+----------+------+------+----+
|  Ship_name|Cruise_line|age|           Tonnage|passengers|length|cabins|crew|
+-----------+-----------+---+------------------+----------+------+------+----+
|    Journey|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|3.55|
|      Quest|    Azamara|  6|30.276999999999997|      6.94|  5.94|  3.55|3.55|
|Celebration|   Carnival| 26|            47.262|     14.86|  7.22|  7.43| 6.7|
|   Conquest|   Carnival| 11|             110.0|     29.74|  9.53| 14.88|19.1|
|    Destiny|   Carnival| 17|           101.353|     26.42|  8.92| 13.21|10.0|
|    Ecstasy|   Carnival| 22|            70.367|     20.52|  8.55|  10.2| 9.2|
|    Elation|   Carnival| 15|            70.367|     20.52|  8.55|  10.2| 9.2|
|    Fantasy|   Carnival| 23|            70.367|     20.56|  8.55| 10.22| 9.2|
|Fascination|   Carnival| 19|            70.367|     20.52|  8.55|  10.2| 9.2|
|    Freedom|   Carnival|  6|110.23899999999999|      37.0|  9.51| 14.87|11.5|
|      Glory|   Carnival| 10|             110.0|     29.74|  9.51| 14.87|11.6|
|    Holiday|   Carnival| 28|            46.052|     14.52|  7.27|  7.26| 6.6|
|Imagination|   Carnival| 18|            70.367|     20.52|  8.55|  10.2| 9.2|
|Inspiration|   Carnival| 17|            70.367|     20.52|  8.55|  10.2| 9.2|
|     Legend|   Carnival| 11|              86.0|     21.24|  9.63| 10.62| 9.3|
|   Liberty*|   Carnival|  8|             110.0|     29.74|  9.51| 14.87|11.6|
|    Miracle|   Carnival|  9|              88.5|     21.24|  9.63| 10.62|10.3|
|   Paradise|   Carnival| 15|            70.367|     20.52|  8.55|  10.2| 9.2|
|      Pride|   Carnival| 12|              88.5|     21.24|  9.63| 11.62| 9.3|
|  Sensation|   Carnival| 20|            70.367|     20.52|  8.55|  10.2| 9.2|
+-----------+-----------+---+------------------+----------+------+------+----+
only showing top 20 rows

#Creating Training and Test Data Sets

In [83]:
trainDF, testDF = df.randomSplit([.8,.2],seed=42)
print(f"There are {trainDF.count()} rows in the training set, and {testDF.count()} in the test set")

There are 133 rows in the training set, and 25 in the test set

### OneHotEncoder

In [84]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder
categoricalCols = [field for (field, dataType) in trainDF.dtypes
                   if dataType == "string"]
indexOutputCols = [x + "_Index" for x in categoricalCols]
oheOutputCols = [x + "_OHE" for x in categoricalCols]     
stringIndexer = StringIndexer(inputCols=categoricalCols,
                             outputCols=indexOutputCols,
                             handleInvalid='skip')     
oheEncoder = OneHotEncoder(inputCols=indexOutputCols,
                          outputCols=oheOutputCols)
numericCols = [field for (field,dataType) in trainDF.dtypes
              if ((dataType=='int')& (field!='crew'))]

###Use VectorAssembler to merge all columns into one column:

In [85]:
from pyspark.ml.feature import VectorAssembler
assemblerInputs = oheOutputCols + numericCols
vecAssembler = VectorAssembler(inputCols=assemblerInputs,outputCol='features')

### Create a Linear Regression Model

In [86]:
from pyspark.ml.regression import LinearRegression
lr = LinearRegression(labelCol='crew',featuresCol='features')

### Creating a Pipeline

In [87]:
from pyspark.ml import Pipeline
pipeline =Pipeline(stages = [stringIndexer,oheEncoder,vecAssembler,lr])
pipelineModel = pipeline.fit(trainDF)
predDF = pipelineModel.transform(testDF)
predDF.select('features','crew','prediction').show(5)

+--------------------+----+--------------------+
|            features|crew|          prediction|
+--------------------+----+--------------------+
|(136,[26,119,135]...|12.0|    9.96842693031499|
|(136,[49,118,135]...|8.69|  11.468189948677498|
|(136,[89,121,135]...| 6.3|   4.014761828402714|
|(136,[9,134,135],...|0.88|-0.35427650289577883|
|(136,[112,133,135...|1.97|  2.5391250393848885|
+--------------------+----+--------------------+

### Model Evaluation

# Using RMSE

In [88]:
from pyspark.ml.evaluation import RegressionEvaluator
regressionEvaluator = RegressionEvaluator(predictionCol='prediction',
                                         labelCol='crew',
                                         metricName='rmse')
rmse = regressionEvaluator.evaluate(predDF)
#print("RMSE is {:.1f}".format(rmse))
print(f"RMSE is {rmse:.1f}")

RMSE is 1.9

# Using R^2

In [90]:

r2 = RegressionEvaluator(predictionCol='prediction',
                                         labelCol='crew',
                                         metricName='r2').evaluate(predDF)
print(f"R2 is {r2}")

R2 is 0.7794811826138549